{% extends 'title.html' %}
{%block content %}
<!--================================
=            Page Title            =
=================================-->

<section class="page-title bg-title overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div class="title">
					<h3>Update Birthday </h3>
				</div>
<!--				<ol class="breadcrumb p-0 m-0">-->
<!--				  <li class="breadcrumb-item"><a href="index.html">Home</a></li>-->
<!--				  <li class="breadcrumb-item active">Contact Us</li>-->
<!--				</ol>-->
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->


<section class="section contact-form">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
<!--					<h3>Get in <span class="alternate">Touch</span></h3>-->
<!--					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, velit.</p>-->
				</div>
			</div>
		</div>


<!--<form action="update" method="POST">-->
<!--    {% csrf_token %}-->
<!--    <input type="hidden" name="id" value={{birthday.id}}>-->
<!--  Name: <input type="text" name="name" value="{{birthday.name}}"><br>-->
<!--  Birthday: <input type="text" name="birthday" value="{{birthday.birthday}}"><br>-->
<!--    <input type="submit" value="Submit">-->
<!--</form>-->

		<form action="update 	" class="row"  method="POST">
{% csrf_token %}
    <input type="hidden" name="id" value={{birthday.id}}>
			<div class="col-md-6">
				<input type="text" class="form-control main" name="name" id="name"  value="{{birthday.name}}">
			</div>
			<div class="col-md-6">
<!--				<input type="date" class="form-control main" name="birthday" id="birthday" name="birthday" value='{{birthday.birthday|date:"YYYY-MM-dd" }}'>-->
				<input type="date" class="form-control main" name="birthday" id="birthday" name="birthday" value="{{birthday.birthday|date:'Y-m-d' }}">
			</div>
<!--			<div class="col-md-12">-->
<!--				<input type="text" class="form-control main" name="phone" id="phone" placeholder="Phone">-->
<!--			</div>-->
<!--			<div class="col-md-12">-->
<!--				<textarea name="message" id="message" class="form-control main" rows="10" placeholder="Your Message"></textarea>-->
<!--			</div>-->
			<div class="col-12 text-center">
				<button type="submit" class="btn btn-main-md">Update</button>
			</div>
		</form>
	</div>
</section>
{% endblock %}